@import url("https://font.elice.io/EliceDigitalBaeum.css");

* {
    margin: 0;
    padding: 0;
}
body {
    width: 1320px;
    margin: 0 auto;
}
ul {
    list-style: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
}
ul li {
    margin: 10px;
}
ul li a {
    display: inline-block;
    padding: 15px 15px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
    width: 45px;
    height: 45px;
    line-height: 40px;
    background: rgb(119,108,218);
background: linear-gradient(315deg, rgba(119,108,218,1) 0%, rgba(125,123,235,1) 21%, rgba(204,200,247,1) 100%);
}
a {
    text-decoration: none;
    color: #fff;
    font-family: "Elice Digital Baeum", sans-serif; 
    text-transform: capitalize;
}
img {
    width: 100%;
}

.btn li a {
    position: relative;
}
.btn li a p {
    opacity: 0;
}
.btn li a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
}
.btn li:hover img {
    opacity: 0;
}
.btn li:hover p {
    opacity: 1;
}